<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Hueliitas en casa</title>
</head>
<body>
    <header>
        <nav>
        <h1>Huellitas a casa</h1>
        <ul>
            <li>Acerca de</li>
            
            <li>Adopción</li>
            
            <li>Contacto</li>
            
            <li>Voluntariado</li>
            
            <li>Formulario pre Adopción</li>
            
            <li>Login</li>
        </ul>
    </nav>
    </header>
    <main>
    <h2>Sobre nosotros</h2>
    <p>Somos un equipo comprometido con el bienestar animal. Nuestra misión es rescatar , cuidar y encontrar
        hogares amorosos para perros y gatos que han sido abandonados o necesitan una segunda oportunidad .
        Nos enfocamos en garantizar adopciones responsables , acompañando a los adoptantes en casa paso del camino
        para conttruir juntos historias llenas de amor y esperanza .
    </p>
    <form action="buscar" method="get" id="search-form"><input type="text" id="search" name="search"
        placeholder="Buscar por zona o nombre"><i class="fa-solid fa-magnifying-glass"></i>
    </form>
    </main>
    <footer>
    </footer>
</body>
</html>