<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/stylesheets/style.css" />
  <title>Huellitas en casa</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/4d235eb227.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">

<body class="container">
  <header class="main-header">
    <nav class="container-nav">
      <a class="navbar-logo" href="/views/index.html"> <img src="../public/images/huellitas_en_casa-logo.png"
          class="logo-nav" alt="logo-huellitas"></a>
      <<<<<<< HEAD <ul class="nav-lista">
        <li><a href="#about-us"><i class="fa-solid fa-paw"></i> Acerca de</a></li>
        <li><a href="#animal-container"><i class="fa-solid fa-paw"></i> Adopción</a></li>
        <li><a href="/views/contact.html"><i class="fa-solid fa-paw"></i> Contacto</a></li>
        <li><a href="#"><i class="fa-solid fa-paw"></i> Voluntariado</a></li>
        <li><a href="/views/preAdopt.html"><i class="fa-solid fa-paw"></i> Formulario pre Adopción</a></li>
        <li><a href="./register.html"><i class="fa-regular fa-circle-user"></i> Registrate</a></li>
        <li><a href="./login.html"><i class="fa-solid fa-right-to-bracket"></i> Inicia sesión</a></li>
        </ul>
        =======
        <ul class="nav-lista">
          <li><a href="#about-us"><i class="fa-solid fa-paw"></i> Acerca de</a></li>
          <li><a href="#animal-container"><i class="fa-solid fa-paw"></i> Adopción</a></li>
          <li><a href="/views/contact.html"><i class="fa-solid fa-paw"></i> Contacto</a></li>
          <li><a href="#"><i class="fa-solid fa-paw"></i> Voluntariado</a></li>
          <li><a href="/views/preAdopt.html"><i class="fa-solid fa-paw"></i> Formulario pre Adopción</a></li>
          <li><a href="./register.html"><i class="fa-regular fa-circle-user"></i> Registrate</a></li>
          <li><a href="./login.html"><i class="fa-solid fa-right-to-bracket"></i> Inicia sesión</a></li>
        </ul>
        >>>>>>> 4a61ea6fbee47a922d82dce71342666faaebfeaf
    </nav>

    <!-- <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </div> -->
  </header>
  <main>
    <h1>¡Que bueno verte por acá!</h1>
    <p>Inicia sesión para acceder a tu perfil, ver tus fotos y descubrir nuevas formas
      de cuidar a tu mascota.</p>
    <div class="caja-formulario">
      <div form="formulario">
        <label for="Email">Email:</label><br>
        <input type="email" name="Email" id="email" placeholder="Email"><br>
        <label for="password">Contraseña</label><br>
        <input class="formulario-input" type="password" placeholder="Contraseña"><br>
      </div>
      <form>
        <button class="boton-enviar" type="submit">Iniciar sesión</button>
      </form>
    </div>
    <h4>¿Olvidaste tu contraseña? <button class="click">Click acá</button></h3>
  </main>
  <footer>
    <div class="footer-content">
      <img src="../public/images/huellitas_en_casa-logo.png" alt="Huellitas en casa" class="footer-logo">
      <div class="footer-columns">
        <div class="Dirección">ruta 16 Parc 501</div>
        <div class="contacto">549 11 445 5161</div>
        <div class="footer-column">
          <h2>Menú</h2>
          <ul class="footer-list">
            <li><a href="#about-us"><i class="fa-solid fa-paw"></i> Acerca de</a></li>
            <li><a href="#animal-container"><i class="fa-solid fa-paw"></i> Adopción</a></li>
            <li><a href="#contacto"><i class="fa-solid fa-paw"></i> Contacto</a></li>
            <li><a href="#"><i class="fa-solid fa-paw"></i> Voluntariado</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h2>Nuestras redes</h2>
          <ul class="footer-list">
            <li><i class="fa-brands fa-square-facebook"></i>Facebook</li>
            <li><i class="fa-brands fa-square-instagram"></i>Instagram</li>
            <li><i class="fa-brands fa-square-twitter"></i>Twitter</li>
            <li><i class="fa-solid fa-envelope"></i>Correo electrónico</li>
          </ul>
        </div>
        <div class="footer-newsletter">
          <h3>Suscribite a nuestra newsletter</h3>
          <input type="text" id="newsletter" name="newsletter" placeholder="Ingresa tu correo">
        </div>
      </div>
      <p class="footer-copyright">© 2024 Huellitas en Casa. Todos los derechos reservados.</p>
  </footer>
</body>

</html>