@import url("index.css");
@import url("login.css");
@import url("register.css");
@import url("adoptCartl.css");
@import url("adoptDetail.css");

:root {
  --color-amarillo: #F7E97B; /* para accentos */
  --color-beige: #FAF3E0; 
  --color-celeste:  #1FB6FF; /* para accentos*/
  --color-negro-suave: #333333; /* para el texto*/
  --color-verde: #87DC72; /* para el footer*/
  --color-violeta: #C896EA; /* para el fondo*/
}
* {
  margin: 0;
  box-sizing: border-box;
}
