@import url("index.css");
@import url("login.css");
@import url("register.css");
@import url("adoptDetail.css");
@import url("preAdopt.css");

:root {
  --color-amarillo: #F7E97B; /* para accentos */
  --color-beige: #FAF3E0; 
  --color-celeste:  #6ccdfd; /* para accentos*/
  --color-negro-suave: #1d1c1c; /* para el texto*/
  --color-verde: #87DC72; /* para el footer*/
  --color-violeta: #C896EA; /* para el fondo*/
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Cuerpo de página */
body{
  width: 95%;
  background-color: #C896EA;
  margin-left: 25px;
}
.main-header { /* Contenedor principal de la barra de navegación */
  width: 100%; 
  background-color: var(--color-violeta); 
  padding: 1rem 0; 
}
.container-nav{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}
/* logo */
.logo-container{
  margin-right: 20px
}
.logo-nav{
  max-width: 150px; 
  height: auto;
}

/* listas */
.nav-lista{
  font-family: 'Fredoka';
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra los enlaces */
  gap: 2rem; /* Espaciado entre los elementos */
  font-weight: bold; 
  letter-spacing: 1px;
  font-size: 20px;
}
.nav-lista li{
  margin: 0 10px;
}
.nav-lista li a {
  text-decoration: none; /* Quitar subrayado */
  color: var(--color-negro-suave); /* Color del texto */
  padding: 0.5rem 0.8rem; /* Espaciado interno para los enlaces */
  border-radius: 5px; /* Bordes redondeados */
  letter-spacing: -0.5px;
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}
.nav-lista li a:hover {
  background-color: var(--color-amarillo); /* Color de fondo al pasar el mouse */
}
/* Sobre nosotras */
#about-us{
  font-family: 'roboto';
}

/* Pie de página */
footer {
  background-color: #87DC72; /* Color de fondo (tu especificación) */
  padding: 20px;
  font-family: 'fredoka'; /* Fuente (tu especificación) */
  text-align: center;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-be;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 20px;
}

.footer-logo {
  max-width: 200px;
  height: auto;
}

.footer-columns {
  display: flex;
  gap: 50px;
}
.footer-column {
  text-align: left;
}
.footer-column h2 {
  padding-right: 100px; 
}
.btn-submit{
  font-family: 'fredoka';
  background-color: var(--color-celeste);
  color: var(--color-negro-suave);
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-list a { 
  color: inherit; 
  display: block; 
  padding: 5px 0; 
}

/* Estilos para el hover */
.footer-list a:hover {
  text-decoration: underline; 
  color:var(--color-amarillo); 
}

.footer-copyright {
  margin-top: 20px;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}

/* Media Queries */
@media  screen and (max-width: 425px) {
.container-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.container-nav a {
  padding: 10px;
  text-align: center;
  width: 100%;
}
.footer-content {
  flex-direction: column;
  align-items: center;
}

.footer-columns {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-column {
  text-align: center;
}
.footer-column h2 {
  padding-right: 0;
}
}


@media screen and (max-width: 375px) { /* Ejemplo para pantallas pequeñas */
  .container{
      flex-direction: column; /* Apilar elementos verticalmente */
      align-items: flex-start; /* Alinear a la izquierda */
  }

  .nav-lista {
      flex-direction: column; /* Apilar elementos de la lista */
      width: 100%; /* Ocupar todo el ancho */
      margin-top: 1rem; /* Espacio superior */
  }
  .logo-nav{
      margin: 0 auto;
  }
  .footer-logo {
    max-width: 120px;
  }
  .footer-column {
    width: 100%;
  }
}

 
@media screen and (max-width: 320px) {
  .footer-logo {
    max-width: 100px;
  }
  .footer-column {
    width: 100%;
  }
}