<!DOCTYPE html>
<html lang="es-AR">
  <%- include('../partials/head') %>
<body class="container">
  <%- include('../partials/header') %>
  <main>
    <section id="adopted-container">
      <h2 id="titulo-container">Historias de Adopci칩n</h2>
      <p class="description-history">Aca vas a encontrar las mas hermosas historias de nuestros amiguitos de cuatro patas.<br>
        Algunos han tenido una vida muy dura, pero por suerte, se han cruzado en su camino personas de gran<br>
      coraz칩n. Algunos fueron felizmente adoptados, otros ya son estrellitas y otros todav칤a esperan una familia.</p>
      <div class="animales animal-list">
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-08 a las 22.19.38_fa949b09.png.jpg"
            alt="img-cachorro-con-manchas" class="pets" />
          <div class="card-animal">
            <h3 class="title">Lupine</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola, mi nombre es Lupi y fui adoptado un 21 de septiembre, cuando era solo un bebito. 游비
              Mi mam치 humana, Rosa, compart칤a su vida con un perrito que lamentablemente falleci칩 a causa de una
              enfermedad 游땞...<a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-07 a las 20.41.57_2cacab23.jpg"
            alt="img-gatito-blanco-negro" class="pets" />
          <div class="card-animal">
            <h3>Romeo </h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola soy Romeo , feliz fui adoptado de bebe  por una familia pero esa alegria no duraria mucho , todo iba muy bien pero en alguna<br>
              parte de mi dia a dia con ellos hice algo que no les gusto , o rasque el sill칩n y se molestaron pero un dia <br>
              me econtre solo , con miedo y en un lugar que no conocia . Llegue al refugio pero rapido me adapte a mis amigos felinos <br>
              En febrero
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-08 a las 13.57.46_5899c051.jpg"
            alt="img-perrito-naranja-cachorro" class="pets" />
          <div class="card-animal">
            <h3>Simba</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola soy Simba y llegue al refugio En condiciones desastrosas , piel lastimada , hambre y mucho tiempo solo en pleno invierno .<br>
              En el refugio me dieron atenci칩n veterinaria y con mucha paciencia y amor fui confiando de nuevo en los humanos , no todos podian ser iguales<br>
              Hoy tengo una familia  y soy muy feliz con ellos Amo dormir en la cama con mi pap치 y pasar tiempo en el jard칤n.<br>
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2024-12-25 a las 00.50.26_4b72ea8a.jpg"
            alt="img-perrita-blanca-ynegra" class="pets" />
          <div class="card-animal">
            <h3>Calliope</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-09 a las 00.29.05_fc786793.jpg"
            alt="img-blanco-naranja-cachorro" class="pets" />
          <div class="card-animal">
            <h3>Yago</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-09 a las 00.29.05_fd7fc486.jpg"
            alt="img-gato-gris-adulto" class="pets" />
          <div class="card-animal">
            <h3>Camacho</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-09 a las 00.29.05_f1069759.jpg"
            alt="img-cachorra-naranja" class="pets" />
          <div class="card-animal">
            <h3>Samira</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-09 a las 00.29.06_200fc2bd.jpg"
            alt="img-gato-blanco-adulto" class="pets" />
          <div class="card-animal">
            <h3>Snow</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/Imagen de WhatsApp 2025-01-09 a las 00.47.44_2dba7572.jpg"
            alt="img-gato-naranja-adulto" class="pets" />
          <div class="card-animal">
            <h3>Calliope</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">

              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
  </main>
  <%- include('../partials/footer') %>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>