<!DOCTYPE html>
<html lang="es-AR">
  <%- include('../partials/head') %>
<body class="container">
  <%- include('../partials/header') %>
  <main>
    <section id="adopted-container">
      
      <h2 id="titulo-container">Historias de Adopci칩n</h2>
      <p class="description-history">Aca vas a encontrar las mas hermosas historias de nuestros amiguitos de cuatro patas.<br>
        Algunos han tenido una vida muy dura, pero por suerte, se han cruzado en su camino personas de gran<br>
      coraz칩n. Algunos fueron felizmente adoptados, otros ya son estrellitas y otros todav칤a esperan una familia.</p>
      <div class="animales animal-list">
        <article class="animal">
          <img src="/images/adoptados/Lupine-adopcion.jpg"
            alt="img-cachorro-con-manchas" class="pets" />
          <div class="card-animal">
            <h3 class="title">Lupine</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola, mi nombre es Lupi y fui adoptado un 21 de septiembre, cuando era solo un bebito. 游비
              Mi mam치 humana, Rosa, compart칤a su vida con un perrito que lamentablemente falleci칩 a causa de una enfermedad
              . Siempre lo recuerda y  me habla de el  pero esta preparada para comenzar una nueva historia juntos<a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/romeo-adopcion.jpg"
            alt="img-gatito-blanco-negro" class="pets" />
          <div class="card-animal">
            <h3>Romeo </h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola soy Romeo , feliz fui adoptado de bebe  por una familia pero esa alegria no duraria mucho , todo iba muy bien pero en alguna<br>
              parte de mi dia a dia con ellos hice algo que no les gusto , o rasque el sill칩n y se molestaron pero un dia <br>
              me econtre solo , con miedo y en un lugar que no conocia . Llegue al refugio pero rapido me adapte a mis amigos felinos <br>
              En febrero hace 1 a침o que me adopto mi humano y mi historia ahora es otra ahora somos muy felices juntos
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/simba-adopcion.jpg"
            alt="img-perrito-naranja-cachorro" class="pets" />
          <div class="card-animal">
            <h3>Simba</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola soy Simba y llegue al refugio En condiciones desastrosas , piel lastimada , hambre y mucho tiempo solo en pleno invierno .<br>
              En el refugio me dieron atenci칩n veterinaria y con mucha paciencia y amor fui confiando de nuevo en los humanos , no todos podian ser iguales<br>
              Hoy tengo una familia  y soy muy feliz con ellos Amo dormir en la cama con mi pap치 y pasar tiempo en el jard칤n.<br>
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>

        <article class="animal">
          <img src="/images/adoptados/Calliope-adopcion.jpg"
            alt="img-perrita-blanca-ynegra" class="pets" />
          <div class="card-animal">
            <h3>Calliope</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Mi nombre es Calliope pero mi familia me dice callie , fui rescatada siendo una bebe en la  calle con hambre y con mucho miedo .<br>
              El refugio de dio mucho amor y todos se enamoraron de mi por lo regalona y juguetona que soy .<br>
              La familia que me adopto me trata como una reina junto ami hermana gatuna India y mi hermano Cocon , soy muy feliz con ellos.
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/yago-adopcion.jpg"
            alt="img-blanco-naranja-cachorro" class="pets" />
          <div class="card-animal">
            <h3>Yago</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Soy Yago mis hermanitos y yo fuimos rescatados de una familia que no nos querian , llegamos a Huellitas<br>
              donde nos dieron  mucho amor y cuidados , mi mama humana Sol me adopto y me dio una hermosa familia y mis hermanitos<br>
              tambien fueron adoptados y todos tuvimos nuestro final feliz .
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/camacho-adopcion.jpg"
            alt="img-gato-gris-adulto" class="pets" />
          <div class="card-animal">
            <h3>Camacho</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Soy camacho y tengo 4 a침os , era el consentido en el refugio donde llegue un tiempo atras por heridas que me genero la mordida de un perro<br>
              aunque encontrar una familia fue dificil ya que soy un gato adulto llegaron mis humanos  y Santi<br>
              que vieron en mi un compa침ero fiel y cari침oso para escribir una nueva historia juntos
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/samira-adopcion.jpg"
            alt="img-cachorra-naranja" class="pets" />
          <div class="card-animal">
            <h3>Samira</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Hola soy Samira , llegue al refugio en invierno con solo 3 meses , tenia miedo y estaba solita en la noche fria<br>
              el refugio fue mi lugar seguro despues de pasar por los todos los cuidados a los pocos meses conoci a mi familia que se enamoraron de mi<br>
              por que mi mama Humana Estela me conto que vio algo especial y me adopto , tambien tengo hermanos <br>
              humanos con los que juego todo el dia y somos felices juntos . 
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/snow-adopcion.jpg"
            alt="img-gato-blanco-adulto" class="pets" />
          <div class="card-animal">
            <h3>Snow</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Soy Snow tranquilo , timido pero muy amoroso cuando me conoces , llegue al refugio con una herida en mi pata<br>
              los cuidados y el amor de los voluntarios me ayudaron a sanar y Rebeca mi humana una estudiante veterinaria  <br>
              me vio y me quiso con ella ya que compartimos la misma tranquilidad . Hoy soy muy feliz con ella y por esta nueva vida que tenemos juntos.
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
        <article class="animal">
          <img src="/images/adoptados/fredie-adopcion.jpg"
            alt="img-gato-naranja-adulto" class="pets" />
          <div class="card-animal">
            <h3>Fredie</h3>
            <h4>Conoce mi historia</h4>
            <div class="descripcion-animal">
              Soy Fredie Hoy hace 2 a침os que me adptaron en una super familia donde tengo hermanos humanos y un hermano perro , conejo y una tortuga<br>
              todos somos muy unidos y jugamos todo el dia , menos la tortuga cleo que muerde mi cola , pero <br>
              me encanta mi familia juntos somos mas fuertes y felices.
              <a href="#" class="read-more">Leer m치s <i class="fa-solid fa-bone"></i></a>
            </div>
          </div>
        </article>
  </main>
  <%- include('../partials/footer') %>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>