<!DOCTYPE html>
<html>
<head>
    <title>Adopción Exitosa</title>
</head>
<body>
    <h1>¡Felicitaciones! Cumpliste con todos los requisistos para poder Adoptar</h1>
    <p>Animal: <%= animal.nombre %></p>
    <p>Adoptado por: <%= usuario.nombre %></p>
    <p>Fecha de adopción: <%= animal.fechaAdopcion.toLocaleDateString() %></p>
    <a href="/">Volver al inicio</a>
</body>
</html>