<footer>
    <div class="footer-content">
      <div class="footer-logo-container">
        <img src="/images/huellitas_en_casa-logo.png" alt="Huellitas en casa" class="footer-logo" />
        <p class="footer-direccion">ruta 16 Parc 501</p>
        <p class="footer-telefono">(549) 11 4465 5161</p>
      </div>
      <div class="footer-columns">
        <div class="footer-column">
          <h2>Menú</h2>
          <ul class="footer-list">
            <li>
              <a href="/views/aboutUs.html"><i class="fa-solid fa-paw"></i> Acerca de</a>
            </li>
            <li>
              <a href="#animal-container"><i class="fa-solid fa-paw"></i> Adopción</a>
            </li>
            <li>
              <a href="#contacto"><i class="fa-solid fa-paw"></i> Contacto</a>
            </li>
            <li>
              <a href="/views/adoptStories.html"><i class="fa-solid fa-paw"></i> Historias </a>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h2>Nos encontramos acá</h2>
          <ul class="footer-list">
            <li>
              <a href="https://www.facebook.com/profile.php?id=61571625003086"
                ><i class="fa-brands fa-square-facebook"></i>Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/huellitasencasa.ar/"
                ><i class="fa-brands fa-square-instagram"></i>Instagram</a
              >
            </li>
            <li>
              <a
                href="mailto:huellitasencasa.ar@gmail.com"
                title="Envíanos un correo"
              >
                <i class="fa-solid fa-envelope"></i> Correo electrónico
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column">
        <h4>Newsletter</h4>
        <form action="https://your-mailchimp-form-action" method="post">
          <div class="form-group">
            <input type="email" name="EMAIL" placeholder="Tu correo electrónico" required />
            <button type="submit" class="btn-submit">Suscríbete</button>
          </div>
        </form>
      </div>
    </div>
    <p class="footer-copyright">
      © 2024 Huellitas en Casa. Todos los derechos reservados.
    </p>
  </footer>