<!DOCTYPE html>
<html lang="es-AR">

<%- include ('../partials/head') %>

<body>
  <%- include ('../partials/header') %>
  <!-- Formulario de pre-adopción -->
  <main class="formulario">
    <h2>¡Formulario pre-adopción!</h2>
    <label for="personaje">¿A quién te gustaría adoptar?</label>
    <select id="personaje" name="personaje">
      <option value="Aragorn">Aragorn</option>
      <option value="Dooku">Dooku</option>
      <option value="Boromir">Boromir</option>
      <option value="Gala">Gala</option>
      <option value="Gandalf">Gandalf</option>
      <option value="Guts">Guts</option>
      <option value="Legolas">Legolas</option>
      <option value="Nessa">Nessa</option>
      <option value="Padme">Padme</option>
    </select>
    <h3>Contanos sobre vos</h3>
    <!-- Registro -->
    <label for="username">Nombre y apellido:</label>
    <input type="text" name="nombre" placeholder=" Nombre y apellido" required />
    <label for="username">Edad:</label>
    <input type="text" name="edad" placeholder="Ingresa tu edad" required />
    <label for="Domicilio">Dirección:</label>
    <input type="text" id="Domicilio" name="Domicilio" placeholder="Ingresa tu dirección" required />
    <label for="Domicilio">Localidad:</label>
    <input type="text" id="Domicilio" name="Domicilio" placeholder="Ingresa tu localidad" />
    <label for="Email">Correo electronico:</label>
    <input type="email" name="Email" id="email" placeholder="Email">
    <label for="motivo">¿Por qué motivo quieres adoptar?</label>
    <textarea id="motivo" name="motivo" rows="5" placeholder="Contanos por qué querés adoptar"></textarea>

    <h3>Contanos sobre tu vivienda</h3>
    <label for="tipo_vivienda">¿Qué tipo de vivienda tenés?</label>
    <select id="tipo_vivienda" name="tipo_vivienda">
      <option value="casa">Casa</option>
      <option value="departamento">Departamento</option>
      <option value="PH">PH</option>
      <option value="quinta">Quinta</option>
    </select>
    <label for="vivienda_alquiler">
      Si alquilas, ¿Se permiten mascotas donde estas?</label>
    <select id="vivienda_alquiler" name="vivienda_alquiler">
      <option value="sí">Sí</option>
      <option value="no">No</option>
      <option value="desconoce">Desconoce</option>
    </select>
    <p>¿Alguien en tu hogar tiene alergia a perros o gatos?</p>
    <input type="text" id="" name="" placeholder="Indica si con medicación es tratable" />
    <!-- descripcion al finalizar el registro -->
    <div class="descripcion">
      <p>
        Hasta acá llegó el formulario de adopción. Habiendo leído los
        requisitos y completado el formulario,¿Sentís que estás dispuesto a
        adoptar responsablemente darle el hogar y la vida que merece?
        Nosotras buscamos adopciones responsables y para toda la vida. Una mascota no
        se descarta,no se regala,no se maltrata y no se abandona.
      </p>
    </div>
    <form>
      <button class="boton-enviar" type="submit">Volver</button>
      <button class="boton-enviar" type="submit">Enviar</button>
    </form>
  </main>
  <!-- Pie de página -->
  <%- include ('../partials/footer') %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>